.custom__button {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 50px;    
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    font-weight: 700;
    font-size: 16px;
}

.custom__button:hover {
    background-color: #e7e7e7;
}
