.footer__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: white;    
    margin-top: 10px;
}

.footer__content {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #353535;        
    padding-right: 175px;
}

.footer__contact {
    padding-top: 5px;    
}
