/* long-input sytle add */
.long__input__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  padding: 8px;
  outline: 1px solid #acacac;
  transition: outline-color 0.1s ease;
  background-color: white;
}

.long__input__content {
  outline: none;
  border: none;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  background-color: #ffffff;
  color: #000000;
}

.long__input__wrapper:focus-within {
  outline: 1.5px solid #241e5a;
}

/* Tiptap Style  */
.ProseMirror-focused {
  border: none !important;
  outline: none !important;
}

.ProseMirror {
  min-height: 200px;
  max-height: 320px;
  overflow-y: auto;
  margin: 0px;
  padding: 0px;
}

.tiptap {
  line-height: 1.6;
  font-synthesis: style;
}

.tiptap p {
  margin: 0px;
  white-space: pre-wrap;
}

.tiptap em {
  font-style: italic !important;
}

.tiptap ul,
.tiptap ol {
  /* padding: 0 1rem; */
  /* margin: 1.25rem 1rem 1.25rem 0.4rem; */
  margin: 0px;
}

.tiptap li p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.tiptap h1,
.tiptap h2,
.tiptap h3 {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  line-height: 1.2;
}

.tiptap h1 {
  font-size: 1.5rem;
}
.tiptap h2 {
  font-size: 1.25rem;
}
.tiptap h3 {
  font-size: 1.1rem;
}

.tiptap code {
  background-color: #f3e8ff; /* purple-100 */
  border-radius: 0.4rem;
  font-size: 0.85rem;
  padding: 0.2em 0.4em;
  color: #4b5563; /* gray-700 */
}

.tiptap pre {
  background-color: #111827; /* gray-900 */
  color: #f9fafb; /* gray-50 */
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  font-family: "JetBrainsMono", monospace;
  overflow-x: auto;
}

.tiptap blockquote {
  border-left: 3px solid #d1d5db; /* gray-300 */
  margin: 1.5rem 0;
  padding-left: 1rem;
  color: #6b7280; /* gray-500 */
}

.tiptap hr {
  border: none;
  border-top: 1px solid #e5e7eb; /* gray-200 */
  margin: 2rem 0;
}

.bubble-menu {
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 0.7rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 0.5rem;
  padding: 0.2rem;
}

.bubble-menu button {
  background: none;
  border: none;
  padding: 0.4rem 0.6rem;
  border-radius: 0.4rem;
}

.bubble-menu button:hover {
  background-color: #e5e7eb;
}

.bubble-menu button.is-active {
  background-color: #7c3aed; /* purple-600 */
  color: white;
}

.floating-menu {
  background-color: #f3f4f6; /* gray-100 */
  border-radius: 0.5rem;
  padding: 0.25rem;
  display: flex;
  gap: 0.5rem;
  margin: 0.25rem;
}

.floating-menu button {
  background: none;
  border: none;
  padding: 0.4rem 0.6rem;
  border-radius: 0.4rem;
}

.floating-menu button:hover {
  background-color: #e5e7eb;
}

.floating-menu button.is-active {
  background-color: white;
  color: #7c3aed;
  font-weight: bold;
}
